:root {
    --cor-fundo: #ce8453;
    --cor-principal: #ecd4b9 ;
    --cor-secundaria: #9597a5;
    --cor-destaque: #ce8453;
    --cor-texto: #ce8453 ;
  }
  
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .caixa-principal{
    background-color: var(--cor-principal);
    width: 100%;
    text-align: center;
    padding:200px;
  }
  
  h{
    color: var(--cor-destaque);
   }
   @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

   .botao{
    background-color: #2196F3;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}
.botao:hover{
    background-color: #4CAF50;
}